<p>
    <button (click)="allData()">All</button>
    <button (click)="biomassData()">Biomass</button>
    <button (click)="gasData()">Gas Waste</button>
    <button (click)="hydroData()">Hydro</button>
    <button (click)="hydroWData()">Hydro Waste</button>
    <button (click)="solarData()">Solar</button>
    <button (click)="windData()">Wind</button>        
</p>

  <agm-map [latitude]="lat" [longitude]="lng" [zoom] = 16>
      <agm-marker *ngFor="let m of biomassc; let i = index"
      [iconUrl] = "'https://png.icons8.com/color/2x/thermometer.png'"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [markerDraggable]="m.draggable"></agm-marker>

      <agm-marker *ngFor="let m of gas_wastec; let i = index"
      [iconUrl]="'https://png.icons8.com/color/2x/rain-gauge.png'"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [markerDraggable]="m.draggable"></agm-marker>

      <agm-marker *ngFor="let m of hydroc; let i = index"
      [iconUrl]="'https://png.icons8.com/color/2x/hygrometer.png'"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [markerDraggable]="m.draggable"></agm-marker>

      <agm-marker *ngFor="let m of hydro_wastec; let i = index"
      [iconUrl]="'https://png.icons8.com/color/2x/dew-point.png'"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [markerDraggable]="m.draggable"></agm-marker>

      <agm-marker
      *ngFor="let m of solarc; let i = index"
      [iconUrl]="'https://png.icons8.com/color/2x/summer.png'"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [markerDraggable]="m.draggable"></agm-marker>

      <agm-marker *ngFor="let m of windc; let i = index"
      [iconUrl]="'https://png.icons8.com/color/2x/windy-weather.png'"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [markerDraggable]="m.draggable"></agm-marker>

  </agm-map> 

  <div>
      <div style="display: block">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
        </canvas>
      </div>
  </div>


  <div style="display: block">
      <canvas baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
